.form-group label:not(.checkboxLabel) {
    display: inline-block;
    background-color: white;
    margin-bottom: -10px;
    position: absolute;
    padding: 0 10px;
    transform: translate(30px, -10px);
    font-size: 10px;
    color: rgb(55, 55, 55);
}

.container {
    background-color: white;
}