input[type='text'],
input[type='password'] {
    border: 1px solid black;
    height: 50px;
    padding: 0 2rem;
    width: 100%;
    transition: background .5s;
    font-size: 18px;
    border-radius: 100px;
}

.form-group label:not(.checkbox) {
    display: inline-block;
    background-color: white;
    margin-bottom: 10px;
    position: absolute;
    padding: 0 10px;
    transform: translate(30px, -10px);
    font-size: 14px;
}

button {
    width: 100%;
}

.mantap {
    width: 500px;
}